In [11]:
pip install textblob

Requirement already satisfied: textblob in c:\users\eyang\anaconda3\lib\site-packages (0.15.3)
Requirement already satisfied: nltk>=3.1 in c:\users\eyang\anaconda3\lib\site-packages (from textblob) (3.6.5)
Requirement already satisfied: click in c:\users\eyang\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (8.0.3)
Requirement already satisfied: joblib in c:\users\eyang\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (1.1.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\eyang\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (2021.8.3)
Requirement already satisfied: tqdm in c:\users\eyang\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (4.62.3)
Requirement already satisfied: colorama in c:\users\eyang\anaconda3\lib\site-packages (from click->nltk>=3.1->textblob) (0.4.4)
Note: you may need to restart the kernel to use updated packages.

In [12]:
import pandas as pd
import numpy as np
import tweepy as tw
import time
from textblob import TextBlob

In [13]:
# Eric's token info
def getClient():
    client = tw.Client(bearer_token='AAAAAAAAAAAAAAAAAAAAAJgTZwEAAAAAFVLr%2F%2FClRF6djF%2Ft7s5yswscGN8%3DDRcPCVEXPcYx6zmrNscHjB1uEwOYdN9dwcZc00aZbh8D3TNPL0', 
                       consumer_key='697t3SlCIA8EQqhuUXt6hvdR2', 
                       consumer_secret='vvx7jQTsQx0DsdqywLCbNXy7fVGfZ0pHIsHV7ABAn9B38GYeWA', 
                       access_token='4552843577-Fz1dti9bkAEtMUnKJN8uq9rs9DC22L8J0k3eA2M', 
                       access_token_secret='UhoqlCSKwv269iEX3IhjsxUE4huNaTKMWSniIUwEWYd8l')
    return client

In [14]:
def getUserID(user):
    client = getClient()
    x = client.get_user(username= user)
    x
    return x
#return type dict
#getting user id from the twitter handle

In [84]:
def mentionTweets(userId):
    client = getClient()
    tweetMentions = client.get_users_mentions(id = userId, start_time='2022-02-01T00:00:00.000Z' , end_time='2022-04-25T00:00:00.000Z',max_results = 100, expansions = 'author_id')
    tweetMentionData = tweetMentions.data
    resultsMentions = []
    if not tweetMentionData is None and len(tweetMentionData) > 0:
        for tweet in tweetMentionData:
            #tweetAID = client.statuses_lookup(id = tweet.id)  trying to find a away to get author id from a mention
            obj = {}
            obj['author id'] = tweet.author_id
            obj['id'] = tweet.id
            obj['text'] = tweet.text
            obj['for'] = userId
            obj['type'] = "Mention"
            resultsMentions.append(obj)
    else:
        return []
    return resultsMentions
# I'm not sure why but it returns none for author id

In [87]:
def userTweets(userId):
    client = getClient()
    userTweet = client.get_users_tweets(id = userId, start_time='2022-02-01T00:00:00.000Z' , end_time='2022-04-25T00:00:00.000Z',max_results = 100,expansions = 'author_id')
    tweetuserData = userTweet.data
    resultsTweets = []
    if not tweetuserData is None and len(tweetuserData) > 0:
        for tweet in tweetuserData:
            obj = {}
            obj['author id'] = tweet.author_id
            obj['id'] = tweet.id
            obj['text'] = tweet.text
            obj['for'] =  userId
            obj['type'] = "User"
            resultsTweets.append(obj)
    return resultsTweets

#FYI this alos looks at retweets

In [17]:
# please look at https://docs.tweepy.org/en/stable/client.html#search-tweets
# and https://www.youtube.com/watch?v=GqzbvoAsSrg&ab_channel=SkoloOnline
# these helped me make this ~Eric

In [82]:
z = getUserID('SantitaJ')
z

Response(data=<User id=243690703 name=Santita Jackson username=SantitaJ>, includes={}, errors=[], meta={})

In [88]:
tweetdata = pd.DataFrame(mentionTweets(21456548))
tweetdata
#1

,author id,id,text,for,type
0,1417410192740962312,1518289397938012162,@rashadrobinson @itsgabrielleu Theirs so many ...,21456548,Mention
1,2590081050,1518239094110883849,@rashadrobinson @rolandsmartin Republicans lie...,21456548,Mention
2,1152741943723667457,1517915829760835584,@rashadrobinson @zellieimani https://t.co/bOlD...,21456548,Mention
3,1515578761823014913,1517902754038968320,@rashadrobinson https://t.co/0OnCgH37nz,21456548,Mention
4,1515578761823014913,1517899197608960001,@rashadrobinson GOD'S JUDGEMENT DAY IS COMING ...,21456548,Mention
...,...,...,...,...,...
95,18522327,1514752794409975824,RT @ColorOfChange: Join COC's @rashadrobinson ...,21456548,Mention
96,18522327,1514752792304435200,RT @JenniOlsonSF: Next week! Plus @rashadrobin...,21456548,Mention
97,130641935,1514720679152664576,"Next week! Plus @rashadrobinson, @mariaressa, ...",21456548,Mention
98,16795628,1514640592738951169,#RT @ColorOfChange: Join COC's @rashadrobinson...,21456548,Mention
99,27793335,1514626288966852620,Join COC's @rashadrobinson for @elcinfo's 2022...,21456548,Mention

In [89]:
tweetdata = tweetdata.append(pd.DataFrame(userTweets(21456548)))
tweetdata
#1

,author id,id,text,for,type
0,1417410192740962312,1518289397938012162,@rashadrobinson @itsgabrielleu Theirs so many ...,21456548,Mention
1,2590081050,1518239094110883849,@rashadrobinson @rolandsmartin Republicans lie...,21456548,Mention
2,1152741943723667457,1517915829760835584,@rashadrobinson @zellieimani https://t.co/bOlD...,21456548,Mention
3,1515578761823014913,1517902754038968320,@rashadrobinson https://t.co/0OnCgH37nz,21456548,Mention
4,1515578761823014913,1517899197608960001,@rashadrobinson GOD'S JUDGEMENT DAY IS COMING ...,21456548,Mention
...,...,...,...,...,...
95,21456548,1509229287127326725,"RT @ColorOfChange: In 2018, Facebook hired a f...",21456548,User
96,21456548,1509198297759682576,RT @RepYvetteClarke: Thank you @rashadrobinson...,21456548,User
97,21456548,1509198233192611845,RT @RSAConference: The #RSAC 2022 closing keyn...,21456548,User
98,21456548,1509176208935854083,"RT @RevDrBarber: We’ll be back in Washington, ...",21456548,User
99,21456548,1508964173266534401,Our work to protect Black people continues; wh...,21456548,User

In [90]:
tweetdata = tweetdata.append(pd.DataFrame(mentionTweets(36733261)))
tweetdata
#2

,author id,id,text,for,type
0,1417410192740962312,1518289397938012162,@rashadrobinson @itsgabrielleu Theirs so many ...,21456548,Mention
1,2590081050,1518239094110883849,@rashadrobinson @rolandsmartin Republicans lie...,21456548,Mention
2,1152741943723667457,1517915829760835584,@rashadrobinson @zellieimani https://t.co/bOlD...,21456548,Mention
3,1515578761823014913,1517902754038968320,@rashadrobinson https://t.co/0OnCgH37nz,21456548,Mention
4,1515578761823014913,1517899197608960001,@rashadrobinson GOD'S JUDGEMENT DAY IS COMING ...,21456548,Mention
...,...,...,...,...,...
58,2951397565,1488727937012559875,@noirdosser @DSmoke7 @majornija @majestichippi...,36733261,Mention
59,96309737,1488727659765018624,@noirdosser @dstrut3000 @DSmoke7 @majornija @m...,36733261,Mention
60,1171231119364112384,1488727121404907522,@majornija @dstrut3000 @DSmoke7 @majestichippi...,36733261,Mention
61,1219466357047209984,1488727011216572419,@noirdosser @dstrut3000 @DSmoke7 @majestichipp...,36733261,Mention
62,1171231119364112384,1488726742743207939,.@dstrut3000 @DSmoke7 @majornija @majestichipp...,36733261,Mention

In [91]:
tweetdata = tweetdata.append(pd.DataFrame(userTweets(36733261)))
tweetdata
#2

,author id,id,text,for,type
0,1417410192740962312,1518289397938012162,@rashadrobinson @itsgabrielleu Theirs so many ...,21456548,Mention
1,2590081050,1518239094110883849,@rashadrobinson @rolandsmartin Republicans lie...,21456548,Mention
2,1152741943723667457,1517915829760835584,@rashadrobinson @zellieimani https://t.co/bOlD...,21456548,Mention
3,1515578761823014913,1517902754038968320,@rashadrobinson https://t.co/0OnCgH37nz,21456548,Mention
4,1515578761823014913,1517899197608960001,@rashadrobinson GOD'S JUDGEMENT DAY IS COMING ...,21456548,Mention
...,...,...,...,...,...
58,2951397565,1488727937012559875,@noirdosser @DSmoke7 @majornija @majestichippi...,36733261,Mention
59,96309737,1488727659765018624,@noirdosser @dstrut3000 @DSmoke7 @majornija @m...,36733261,Mention
60,1171231119364112384,1488727121404907522,@majornija @dstrut3000 @DSmoke7 @majestichippi...,36733261,Mention
61,1219466357047209984,1488727011216572419,@noirdosser @dstrut3000 @DSmoke7 @majestichipp...,36733261,Mention
62,1171231119364112384,1488726742743207939,.@dstrut3000 @DSmoke7 @majornija @majestichipp...,36733261,Mention

In [92]:
tweetdata = tweetdata.append(pd.DataFrame(mentionTweets(16976061)))
tweetdata
#3

,author id,id,text,for,type
0,1417410192740962312,1518289397938012162,@rashadrobinson @itsgabrielleu Theirs so many ...,21456548,Mention
1,2590081050,1518239094110883849,@rashadrobinson @rolandsmartin Republicans lie...,21456548,Mention
2,1152741943723667457,1517915829760835584,@rashadrobinson @zellieimani https://t.co/bOlD...,21456548,Mention
3,1515578761823014913,1517902754038968320,@rashadrobinson https://t.co/0OnCgH37nz,21456548,Mention
4,1515578761823014913,1517899197608960001,@rashadrobinson GOD'S JUDGEMENT DAY IS COMING ...,21456548,Mention
...,...,...,...,...,...
95,1104069426415001601,1512497255206379521,@4NIKKOLAS @ananavarro Scary,16976061,Mention
96,1423509083114639360,1512497040495984640,@4NIKKOLAS Thank you for wonderful share,16976061,Mention
97,326545657,1512495659236085763,@reneewauthor @LindaSuePark @nhannahjones @rob...,16976061,Mention
98,25379461,1512495179537661956,@4NIKKOLAS A Black woman will now serve on the...,16976061,Mention
99,912836471278702598,1512494247538270216,"@4NIKKOLAS @ananavarro Oh, and why not?",16976061,Mention

In [93]:
tweetdata = tweetdata.append(pd.DataFrame(userTweets(16976061)))
tweetdata
#3

,author id,id,text,for,type
0,1417410192740962312,1518289397938012162,@rashadrobinson @itsgabrielleu Theirs so many ...,21456548,Mention
1,2590081050,1518239094110883849,@rashadrobinson @rolandsmartin Republicans lie...,21456548,Mention
2,1152741943723667457,1517915829760835584,@rashadrobinson @zellieimani https://t.co/bOlD...,21456548,Mention
3,1515578761823014913,1517902754038968320,@rashadrobinson https://t.co/0OnCgH37nz,21456548,Mention
4,1515578761823014913,1517899197608960001,@rashadrobinson GOD'S JUDGEMENT DAY IS COMING ...,21456548,Mention
...,...,...,...,...,...
95,16976061,1496600572472049671,@ElPolloLoco @BrandedArts 🙏🏾likewise! more Ket...,16976061,User
96,16976061,1496600257639108608,RT @nycjim: “I’m gonna keep making books that ...,16976061,User
97,16976061,1496600105339834372,@nycjim 👊🏾🌊✨ thank you thank you,16976061,User
98,16976061,1496546573756604419,Special thanks to @BrandedArts Josh Everhorn a...,16976061,User
99,16976061,1496546568765423620,For this #BlackHistoryMonth I had the pleasure...,16976061,User

In [94]:
tweetdata = tweetdata.append(pd.DataFrame(mentionTweets(3160201248)))
tweetdata
#4

,author id,id,text,for,type
0,1417410192740962312,1518289397938012162,@rashadrobinson @itsgabrielleu Theirs so many ...,21456548,Mention
1,2590081050,1518239094110883849,@rashadrobinson @rolandsmartin Republicans lie...,21456548,Mention
2,1152741943723667457,1517915829760835584,@rashadrobinson @zellieimani https://t.co/bOlD...,21456548,Mention
3,1515578761823014913,1517902754038968320,@rashadrobinson https://t.co/0OnCgH37nz,21456548,Mention
4,1515578761823014913,1517899197608960001,@rashadrobinson GOD'S JUDGEMENT DAY IS COMING ...,21456548,Mention
...,...,...,...,...,...
95,3775651,1495960039441727489,Wait. @profjohnapowell AND Judith Butler? Talk...,3160201248,Mention
96,1544175998,1495956793339621376,Have you ever taken the risk to bridge across ...,3160201248,Mention
97,285875744,1495890449378258944,Thank you for this today @oandbinstitute @prof...,3160201248,Mention
98,367452524,1495864655088074760,"""...true equality cannot be left to the whims ...",3160201248,Mention
99,290718449,1495799154345652224,"""The goal of education is not comfort."" @profj...",3160201248,Mention

In [95]:
tweetdata = tweetdata.append(pd.DataFrame(userTweets(3160201248)))
tweetdata
#4

,author id,id,text,for,type
0,1417410192740962312,1518289397938012162,@rashadrobinson @itsgabrielleu Theirs so many ...,21456548,Mention
1,2590081050,1518239094110883849,@rashadrobinson @rolandsmartin Republicans lie...,21456548,Mention
2,1152741943723667457,1517915829760835584,@rashadrobinson @zellieimani https://t.co/bOlD...,21456548,Mention
3,1515578761823014913,1517902754038968320,@rashadrobinson https://t.co/0OnCgH37nz,21456548,Mention
4,1515578761823014913,1517899197608960001,@rashadrobinson GOD'S JUDGEMENT DAY IS COMING ...,21456548,Mention
...,...,...,...,...,...
94,3160201248,1499579175262248962,RT @GeorgeSwain: We're often hard on individua...,3160201248,User
95,3160201248,1499579131230445569,"RT @ShannaPeeples: ""The goal of education is n...",3160201248,User
96,3160201248,1499579099479642113,RT @SheryllCashin: 🙏🏾 This was a great conver...,3160201248,User
97,3160201248,1499579085520916482,RT @oandbinstitute: Join @BerkeleyAfroAm &amp;...,3160201248,User
98,3160201248,1499579058819977218,RT @triciabrand: The first @Twitter Spaces I’v...,3160201248,User

In [96]:
tweetdata = tweetdata.append(pd.DataFrame(mentionTweets(18137417)))
tweetdata
#5

,author id,id,text,for,type
0,1417410192740962312,1518289397938012162,@rashadrobinson @itsgabrielleu Theirs so many ...,21456548,Mention
1,2590081050,1518239094110883849,@rashadrobinson @rolandsmartin Republicans lie...,21456548,Mention
2,1152741943723667457,1517915829760835584,@rashadrobinson @zellieimani https://t.co/bOlD...,21456548,Mention
3,1515578761823014913,1517902754038968320,@rashadrobinson https://t.co/0OnCgH37nz,21456548,Mention
4,1515578761823014913,1517899197608960001,@rashadrobinson GOD'S JUDGEMENT DAY IS COMING ...,21456548,Mention
...,...,...,...,...,...
95,48925204,1511403796307628040,@hakeemjefferson ... accusations running rampa...,18137417,Mention
96,48925204,1511403357621174274,@hakeemjefferson Yes. there are other aspects ...,18137417,Mention
97,1163723022,1511373965511507972,@hakeemjefferson @prof_mirya I don’t see a sin...,18137417,Mention
98,15185020,1511366364417646599,@hakeemjefferson Thanks for sharing Hakeem. An...,18137417,Mention
99,313680714,1511329325605396480,@hakeemjefferson @RussellSageFdn @FabianNeuner...,18137417,Mention

In [97]:
tweetdata = tweetdata.append(pd.DataFrame(userTweets(18137417)))
tweetdata
#5

,author id,id,text,for,type
0,1417410192740962312,1518289397938012162,@rashadrobinson @itsgabrielleu Theirs so many ...,21456548,Mention
1,2590081050,1518239094110883849,@rashadrobinson @rolandsmartin Republicans lie...,21456548,Mention
2,1152741943723667457,1517915829760835584,@rashadrobinson @zellieimani https://t.co/bOlD...,21456548,Mention
3,1515578761823014913,1517902754038968320,@rashadrobinson https://t.co/0OnCgH37nz,21456548,Mention
4,1515578761823014913,1517899197608960001,@rashadrobinson GOD'S JUDGEMENT DAY IS COMING ...,21456548,Mention
...,...,...,...,...,...
95,18137417,1508474245835153414,@MairaHayat @saadgulzar @zakirbpd We will cont...,18137417,User
96,18137417,1508472493845098499,Credit to chefs @saadgulzar and @zakirbpd. I j...,18137417,User
97,18137417,1508471345922777091,"I know you were wondering, so popping in to sa...",18137417,User
98,18137417,1508418247665758212,Hope this at least falls in the camp of cooler...,18137417,User
99,18137417,1508416305497403395,@ChrisPolPsych I really didn’t wanna engage bu...,18137417,User

In [98]:
tweetdata = tweetdata.append(pd.DataFrame(mentionTweets(46571486)))
tweetdata
#6

,author id,id,text,for,type
0,1417410192740962312,1518289397938012162,@rashadrobinson @itsgabrielleu Theirs so many ...,21456548,Mention
1,2590081050,1518239094110883849,@rashadrobinson @rolandsmartin Republicans lie...,21456548,Mention
2,1152741943723667457,1517915829760835584,@rashadrobinson @zellieimani https://t.co/bOlD...,21456548,Mention
3,1515578761823014913,1517902754038968320,@rashadrobinson https://t.co/0OnCgH37nz,21456548,Mention
4,1515578761823014913,1517899197608960001,@rashadrobinson GOD'S JUDGEMENT DAY IS COMING ...,21456548,Mention
...,...,...,...,...,...
95,107436446,1515342517365002260,…thank you @MalcolmJamalWar for your kindness.,46571486,Mention
96,45585297,1515315029205205000,An AWESOME poem by ⁦@MalcolmJamalWar⁩ #DrFrase...,46571486,Mention
97,98472374,1515245886351286272,"Just finished #SneakyPete. It was magnificent,...",46571486,Mention
98,167196176,1515242483357159425,@MalcolmJamalWar ♥️♥️ Thank YOU for being a pa...,46571486,Mention
99,234664154,1515224621892595713,@YNB @CommunityTV @MalcolmJamalWar I’ll never ...,46571486,Mention

In [99]:
tweetdata = tweetdata.append(pd.DataFrame(userTweets(46571486)))
tweetdata
#6

,author id,id,text,for,type
0,1417410192740962312,1518289397938012162,@rashadrobinson @itsgabrielleu Theirs so many ...,21456548,Mention
1,2590081050,1518239094110883849,@rashadrobinson @rolandsmartin Republicans lie...,21456548,Mention
2,1152741943723667457,1517915829760835584,@rashadrobinson @zellieimani https://t.co/bOlD...,21456548,Mention
3,1515578761823014913,1517902754038968320,@rashadrobinson https://t.co/0OnCgH37nz,21456548,Mention
4,1515578761823014913,1517899197608960001,@rashadrobinson GOD'S JUDGEMENT DAY IS COMING ...,21456548,Mention
...,...,...,...,...,...
34,46571486,1489431948909064195,🤟🏿🤟🏿🤟🏿🙏🏿🙏🏿🙏🏿♥️♥️♥️♥️✊🏿✊🏿✊🏿 Thanks for staying ...,46571486,User
35,46571486,1489431534033641472,@jnweaver24 @ResidentFOX @TheManishDayal @Emil...,46571486,User
36,46571486,1489431401619496966,"@ChocoJay_JJP Man, I’m still like “F*ck Charli...",46571486,User
37,46571486,1489430799975858176,@SheSoTweet Tell your mom I receive the love…🙏🏿♥️,46571486,User
38,46571486,1489430564033679363,"@JeanGreasy Ayo, every time I hear “I’m necess...",46571486,User

In [100]:
tweetdata = tweetdata.append(pd.DataFrame(mentionTweets(915726438)))
tweetdata
#7

,author id,id,text,for,type
0,1417410192740962312,1518289397938012162,@rashadrobinson @itsgabrielleu Theirs so many ...,21456548,Mention
1,2590081050,1518239094110883849,@rashadrobinson @rolandsmartin Republicans lie...,21456548,Mention
2,1152741943723667457,1517915829760835584,@rashadrobinson @zellieimani https://t.co/bOlD...,21456548,Mention
3,1515578761823014913,1517902754038968320,@rashadrobinson https://t.co/0OnCgH37nz,21456548,Mention
4,1515578761823014913,1517899197608960001,@rashadrobinson GOD'S JUDGEMENT DAY IS COMING ...,21456548,Mention
...,...,...,...,...,...
95,4214201473,1513526790643494916,Sports journalist @bomani_jones joins #BlackOn...,915726438,Mention
96,432006408,1513328759511961603,@bomani_jones @LeBatardShow @larrywilmore,915726438,Mention
97,135684302,1513310332734906369,The best takes on this whole thing via podcast...,915726438,Mention
98,1897918189,1513307865338982402,"@larrywilmore @BlackLadySketch ""I just got ba...",915726438,Mention
99,60724544,1513288430876172296,"@larrywilmore Larry, agree 💯with your take on ...",915726438,Mention

In [101]:
tweetdata = tweetdata.append(pd.DataFrame(userTweets(915726438)))
tweetdata
#7

,author id,id,text,for,type
0,1417410192740962312,1518289397938012162,@rashadrobinson @itsgabrielleu Theirs so many ...,21456548,Mention
1,2590081050,1518239094110883849,@rashadrobinson @rolandsmartin Republicans lie...,21456548,Mention
2,1152741943723667457,1517915829760835584,@rashadrobinson @zellieimani https://t.co/bOlD...,21456548,Mention
3,1515578761823014913,1517902754038968320,@rashadrobinson https://t.co/0OnCgH37nz,21456548,Mention
4,1515578761823014913,1517899197608960001,@rashadrobinson GOD'S JUDGEMENT DAY IS COMING ...,21456548,Mention
...,...,...,...,...,...
95,915726438,1508214442273619968,@FlorenceJBeauc @TheRodneyBarnes @winningtimeh...,915726438,User
96,915726438,1508213176596262912,Wordle 281 4/6\n\n⬜⬜⬜⬜⬜\n⬜⬜⬜🟨⬜\n⬜⬜🟨⬜🟩\n🟩🟩🟩🟩🟩,915726438,User
97,915726438,1508120485812387844,New ep is up! Really fun show this week with @...,915726438,User
98,915726438,1507902551340949504,@roywoodjr 👏🏽👏🏽👏🏽,915726438,User
99,915726438,1507902143927238659,@LeighMike87 @AJemaineClement That was one of ...,915726438,User

In [102]:
tweetdata = tweetdata.append(pd.DataFrame(mentionTweets(27792033)))
tweetdata
#8

,author id,id,text,for,type
0,1417410192740962312,1518289397938012162,@rashadrobinson @itsgabrielleu Theirs so many ...,21456548,Mention
1,2590081050,1518239094110883849,@rashadrobinson @rolandsmartin Republicans lie...,21456548,Mention
2,1152741943723667457,1517915829760835584,@rashadrobinson @zellieimani https://t.co/bOlD...,21456548,Mention
3,1515578761823014913,1517902754038968320,@rashadrobinson https://t.co/0OnCgH37nz,21456548,Mention
4,1515578761823014913,1517899197608960001,@rashadrobinson GOD'S JUDGEMENT DAY IS COMING ...,21456548,Mention
...,...,...,...,...,...
95,831785148,1516568613657841664,@Travon They’re really into exercising their r...,27792033,Mention
96,1484987639631470592,1516564211152809984,@Travon Nathan,27792033,Mention
97,42833043,1516564065992204292,@Travon i just saw everything everywhere all a...,27792033,Mention
98,283102923,1516563939626299395,@Travon https://t.co/UWgk1kKqbE,27792033,Mention
99,1491439328744157196,1516561829278978053,@BrandonMChu @JLin7 @Tribeca @Travon @Samir4GT...,27792033,Mention

In [103]:
tweetdata = tweetdata.append(pd.DataFrame(userTweets(27792033)))
tweetdata
#8

,author id,id,text,for,type
0,1417410192740962312,1518289397938012162,@rashadrobinson @itsgabrielleu Theirs so many ...,21456548,Mention
1,2590081050,1518239094110883849,@rashadrobinson @rolandsmartin Republicans lie...,21456548,Mention
2,1152741943723667457,1517915829760835584,@rashadrobinson @zellieimani https://t.co/bOlD...,21456548,Mention
3,1515578761823014913,1517902754038968320,@rashadrobinson https://t.co/0OnCgH37nz,21456548,Mention
4,1515578761823014913,1517899197608960001,@rashadrobinson GOD'S JUDGEMENT DAY IS COMING ...,21456548,Mention
...,...,...,...,...,...
95,27792033,1514664514343645191,@TambayObenson Yeah he was just talking about it,27792033,User
96,27792033,1514658115626622982,This explanation literally sounds like Elon hi...,27792033,User
97,27792033,1514655484648869904,Someone's talking about buying Twitter... http...,27792033,User
98,27792033,1514654400945565702,@ThePatrickRollo @KenTremendous Trying to figu...,27792033,User
99,27792033,1514650509659025409,A #TED2022 chat with @KenTremendous! https://t...,27792033,User

In [104]:
tweetdata = tweetdata.append(pd.DataFrame(mentionTweets(16028034)))
tweetdata
#9

,author id,id,text,for,type
0,1417410192740962312,1518289397938012162,@rashadrobinson @itsgabrielleu Theirs so many ...,21456548,Mention
1,2590081050,1518239094110883849,@rashadrobinson @rolandsmartin Republicans lie...,21456548,Mention
2,1152741943723667457,1517915829760835584,@rashadrobinson @zellieimani https://t.co/bOlD...,21456548,Mention
3,1515578761823014913,1517902754038968320,@rashadrobinson https://t.co/0OnCgH37nz,21456548,Mention
4,1515578761823014913,1517899197608960001,@rashadrobinson GOD'S JUDGEMENT DAY IS COMING ...,21456548,Mention
...,...,...,...,...,...
95,253556280,1517917773627863040,@rodimusprime This. We don't fight evil with e...,16028034,Mention
96,3273929654,1517875542191742976,@rodimusprime Yo!!!!,16028034,Mention
97,1418096622,1517872318072172546,Whew that took me out! @rodimusprime https://t...,16028034,Mention
98,103587443,1517868235193991168,@rodimusprime hahahaha,16028034,Mention
99,216942313,1517866081095933953,@rodimusprime 🤣🤣🤣,16028034,Mention

In [105]:
tweetdata = tweetdata.append(pd.DataFrame(userTweets(16028034)))
tweetdata
#9

,author id,id,text,for,type
0,1417410192740962312,1518289397938012162,@rashadrobinson @itsgabrielleu Theirs so many ...,21456548,Mention
1,2590081050,1518239094110883849,@rashadrobinson @rolandsmartin Republicans lie...,21456548,Mention
2,1152741943723667457,1517915829760835584,@rashadrobinson @zellieimani https://t.co/bOlD...,21456548,Mention
3,1515578761823014913,1517902754038968320,@rashadrobinson https://t.co/0OnCgH37nz,21456548,Mention
4,1515578761823014913,1517899197608960001,@rashadrobinson GOD'S JUDGEMENT DAY IS COMING ...,21456548,Mention
...,...,...,...,...,...
95,16028034,1517687288175730693,ATL got heart.,16028034,User
96,16028034,1517683026775490566,RT @sagebeatlove: Doing a little light reading...,16028034,User
97,16028034,1517677325449666561,The Heat defense is so stifling.,16028034,User
98,16028034,1517674671889698817,The rest https://t.co/LsCLAXdvri,16028034,User
99,16028034,1517674512980004864,Time to see me living for the city. Shout out ...,16028034,User

In [106]:
tweetdata = tweetdata.append(pd.DataFrame(mentionTweets(344955115)))
tweetdata
#10

,author id,id,text,for,type
0,1417410192740962312,1518289397938012162,@rashadrobinson @itsgabrielleu Theirs so many ...,21456548,Mention
1,2590081050,1518239094110883849,@rashadrobinson @rolandsmartin Republicans lie...,21456548,Mention
2,1152741943723667457,1517915829760835584,@rashadrobinson @zellieimani https://t.co/bOlD...,21456548,Mention
3,1515578761823014913,1517902754038968320,@rashadrobinson https://t.co/0OnCgH37nz,21456548,Mention
4,1515578761823014913,1517899197608960001,@rashadrobinson GOD'S JUDGEMENT DAY IS COMING ...,21456548,Mention
...,...,...,...,...,...
90,27864496,1515795826546782215,@TheLewisBlack Happy Curmudgeoning!,344955115,Mention
91,844386235493732353,1515795770074550272,@TheLewisBlack Happy bonging,344955115,Mention
92,1242935575709171714,1515795293303934985,@TheLewisBlack Happy Passover Lewis- to you an...,344955115,Mention
93,781246423,1515795118787379209,@TheLewisBlack Awesome,344955115,Mention
94,1356669858495275011,1515795063032500229,@TheLewisBlack @kathleenmadigan Lewis is in my...,344955115,Mention

In [107]:
tweetdata = tweetdata.append(pd.DataFrame(userTweets(344955115)))
tweetdata
#10

,author id,id,text,for,type
0,1417410192740962312,1518289397938012162,@rashadrobinson @itsgabrielleu Theirs so many ...,21456548,Mention
1,2590081050,1518239094110883849,@rashadrobinson @rolandsmartin Republicans lie...,21456548,Mention
2,1152741943723667457,1517915829760835584,@rashadrobinson @zellieimani https://t.co/bOlD...,21456548,Mention
3,1515578761823014913,1517902754038968320,@rashadrobinson https://t.co/0OnCgH37nz,21456548,Mention
4,1515578761823014913,1517899197608960001,@rashadrobinson GOD'S JUDGEMENT DAY IS COMING ...,21456548,Mention
...,...,...,...,...,...
62,344955115,1490788338776920069,Happy to be performing in Des Moines at the @h...,344955115,User
63,344955115,1490052687341264904,"RT @wprBETA: ""How do you satirize something th...",344955115,User
64,344955115,1489683326730444808,Little Lew is over this cold weather and wants...,344955115,User
65,344955115,1488998234727104518,New Rantcast featuring rants from the past wee...,344955115,User
66,344955115,1488928151841431556,The Washington Commanders it is. Disappointed ...,344955115,User

In [108]:
tweetdata = tweetdata.append(pd.DataFrame(mentionTweets(2825591395)))
tweetdata
#11

,author id,id,text,for,type
0,1417410192740962312,1518289397938012162,@rashadrobinson @itsgabrielleu Theirs so many ...,21456548,Mention
1,2590081050,1518239094110883849,@rashadrobinson @rolandsmartin Republicans lie...,21456548,Mention
2,1152741943723667457,1517915829760835584,@rashadrobinson @zellieimani https://t.co/bOlD...,21456548,Mention
3,1515578761823014913,1517902754038968320,@rashadrobinson https://t.co/0OnCgH37nz,21456548,Mention
4,1515578761823014913,1517899197608960001,@rashadrobinson GOD'S JUDGEMENT DAY IS COMING ...,21456548,Mention
...,...,...,...,...,...
95,233218723,1512506825970794501,@KeishaBlain Congratulations!!! What excellent...,2825591395,Mention
96,201826636,1512504270398136321,Congratulations to my friend @KeishaBlain and ...,2825591395,Mention
97,252581266,1512501721322373126,"So happy to hear this, @KeishaBlain ! Congrat...",2825591395,Mention
98,120203038,1512501240512479234,@KeishaBlain Congratulations!!!,2825591395,Mention
99,2474960131,1512494054893891592,@KeishaBlain Congratulations!,2825591395,Mention

In [109]:
tweetdata = tweetdata.append(pd.DataFrame(userTweets(2825591395)))
tweetdata
#11

,author id,id,text,for,type
0,1417410192740962312,1518289397938012162,@rashadrobinson @itsgabrielleu Theirs so many ...,21456548,Mention
1,2590081050,1518239094110883849,@rashadrobinson @rolandsmartin Republicans lie...,21456548,Mention
2,1152741943723667457,1517915829760835584,@rashadrobinson @zellieimani https://t.co/bOlD...,21456548,Mention
3,1515578761823014913,1517902754038968320,@rashadrobinson https://t.co/0OnCgH37nz,21456548,Mention
4,1515578761823014913,1517899197608960001,@rashadrobinson GOD'S JUDGEMENT DAY IS COMING ...,21456548,Mention
...,...,...,...,...,...
95,2825591395,1515027544831053825,RT @splcenter: #Mississippi’s white elected of...,2825591395,User
96,2825591395,1515025686628642816,RT @kbjosephs: CFP: Black Artists in the Atlan...,2825591395,User
97,2825591395,1515008772950962176,@OshaDavidson @EbonyJHilton_MD @Keisha_Bentley...,2825591395,User
98,2825591395,1515008459825106944,@OshaDavidson @EbonyJHilton_MD You’ve tagged t...,2825591395,User
99,2825591395,1514997833342070785,RT @facinghistory: 🎉 Registration is now open ...,2825591395,User

In [110]:
tweetdata = tweetdata.append(pd.DataFrame(mentionTweets(3196664426)))
tweetdata
#12

,author id,id,text,for,type
0,1417410192740962312,1518289397938012162,@rashadrobinson @itsgabrielleu Theirs so many ...,21456548,Mention
1,2590081050,1518239094110883849,@rashadrobinson @rolandsmartin Republicans lie...,21456548,Mention
2,1152741943723667457,1517915829760835584,@rashadrobinson @zellieimani https://t.co/bOlD...,21456548,Mention
3,1515578761823014913,1517902754038968320,@rashadrobinson https://t.co/0OnCgH37nz,21456548,Mention
4,1515578761823014913,1517899197608960001,@rashadrobinson GOD'S JUDGEMENT DAY IS COMING ...,21456548,Mention
...,...,...,...,...,...
95,1267183713999179776,1512823291127341057,@nenagerman It never stops either. My baby is ...,3196664426,Mention
96,92769734,1512820379278004226,@nenagerman Scary concept. My girlfriend suffe...,3196664426,Mention
97,401789571,1512820318376632320,@nenagerman And it never ends.,3196664426,Mention
98,68952593,1512774233440591878,@RdngTeach @TinaR_Starks @nenagerman I get les...,3196664426,Mention
99,27486005,1512755722915876865,@TinaR_Starks @nenagerman This👆🏻,3196664426,Mention

In [111]:
tweetdata = tweetdata.append(pd.DataFrame(userTweets(3196664426)))
tweetdata
#12

,author id,id,text,for,type
0,1417410192740962312,1518289397938012162,@rashadrobinson @itsgabrielleu Theirs so many ...,21456548,Mention
1,2590081050,1518239094110883849,@rashadrobinson @rolandsmartin Republicans lie...,21456548,Mention
2,1152741943723667457,1517915829760835584,@rashadrobinson @zellieimani https://t.co/bOlD...,21456548,Mention
3,1515578761823014913,1517902754038968320,@rashadrobinson https://t.co/0OnCgH37nz,21456548,Mention
4,1515578761823014913,1517899197608960001,@rashadrobinson GOD'S JUDGEMENT DAY IS COMING ...,21456548,Mention
...,...,...,...,...,...
95,3196664426,1509701016379351048,"Next month, so in days, I'll be traveling to D...",3196664426,User
96,3196664426,1509698020174094339,@MoniseLSeward Right. I saw that and was like....,3196664426,User
97,3196664426,1509694429594071045,@arsinoepi Yeah- my understanding of the math ...,3196664426,User
98,3196664426,1509693992409174027,@TheJLV @YehCathery So then he went and wrote ...,3196664426,User
99,3196664426,1509688878441148418,@YehCathery that is just absolutely wild to me...,3196664426,User

In [112]:
tweetdata = tweetdata.append(pd.DataFrame(mentionTweets(1033134218904256513)))
tweetdata
#13

,author id,id,text,for,type
0,1417410192740962312,1518289397938012162,@rashadrobinson @itsgabrielleu Theirs so many ...,21456548,Mention
1,2590081050,1518239094110883849,@rashadrobinson @rolandsmartin Republicans lie...,21456548,Mention
2,1152741943723667457,1517915829760835584,@rashadrobinson @zellieimani https://t.co/bOlD...,21456548,Mention
3,1515578761823014913,1517902754038968320,@rashadrobinson https://t.co/0OnCgH37nz,21456548,Mention
4,1515578761823014913,1517899197608960001,@rashadrobinson GOD'S JUDGEMENT DAY IS COMING ...,21456548,Mention
...,...,...,...,...,...
95,604265853,1511089370396348420,@TchKimPossible @triciaebarvia @arcticisleteac...,1033134218904256513,Mention
96,1498002271745024004,1511086673656004615,@nftbawsa @KaijuFrenz @KumaponNFT @mikeinspace...,1033134218904256513,Mention
97,617579498,1511077611329495041,@TchKimPossible @triciaebarvia @arcticisleteac...,1033134218904256513,Mention
98,18470954,1511068061666881549,@TchKimPossible @triciaebarvia @arcticisleteac...,1033134218904256513,Mention
99,17502940,1511064058883158018,@TchKimPossible @triciaebarvia @arcticisleteac...,1033134218904256513,Mention

In [113]:
tweetdata = tweetdata.append(pd.DataFrame(userTweets(1033134218904256513)))
tweetdata
#13

,author id,id,text,for,type
0,1417410192740962312,1518289397938012162,@rashadrobinson @itsgabrielleu Theirs so many ...,21456548,Mention
1,2590081050,1518239094110883849,@rashadrobinson @rolandsmartin Republicans lie...,21456548,Mention
2,1152741943723667457,1517915829760835584,@rashadrobinson @zellieimani https://t.co/bOlD...,21456548,Mention
3,1515578761823014913,1517902754038968320,@rashadrobinson https://t.co/0OnCgH37nz,21456548,Mention
4,1515578761823014913,1517899197608960001,@rashadrobinson GOD'S JUDGEMENT DAY IS COMING ...,21456548,Mention
...,...,...,...,...,...
69,1033134218904256513,1490375905109327880,So much to love about this show. Particularly ...,1033134218904256513,User
70,1033134218904256513,1489762230866526208,RT @AudioFileMag: And #AUDIES2022 #finalists i...,1033134218904256513,User
71,1033134218904256513,1489753245337755652,Thank you @CBCBook and @NCSSNetwork for select...,1033134218904256513,User
72,1033134218904256513,1489714236955709455,Let the children lead us!\n\nhttps://t.co/t4bx...,1033134218904256513,User
73,1033134218904256513,1488721752968646656,@gitavarad1 @PWKidsBookshelf @danielmiyares @L...,1033134218904256513,User

In [114]:
tweetdata = tweetdata.append(pd.DataFrame(mentionTweets(50483003)))
tweetdata
#14

,author id,id,text,for,type
0,1417410192740962312,1518289397938012162,@rashadrobinson @itsgabrielleu Theirs so many ...,21456548,Mention
1,2590081050,1518239094110883849,@rashadrobinson @rolandsmartin Republicans lie...,21456548,Mention
2,1152741943723667457,1517915829760835584,@rashadrobinson @zellieimani https://t.co/bOlD...,21456548,Mention
3,1515578761823014913,1517902754038968320,@rashadrobinson https://t.co/0OnCgH37nz,21456548,Mention
4,1515578761823014913,1517899197608960001,@rashadrobinson GOD'S JUDGEMENT DAY IS COMING ...,21456548,Mention
...,...,...,...,...,...
95,1617866203,1502757815190011911,@chm91364 @DrRDMayes thanks for helping us fra...,50483003,Mention
96,560501150,1502757724106416130,@chm91364 @ASCAtweets Near peer advising has m...,50483003,Mention
97,1240732741819342853,1502756997061660675,What I Learned from Being a School Counselor b...,50483003,Mention
98,2954017931,1502625629870698505,@chm91364 @AngelaAverySC @ASCAtweets So bummed...,50483003,Mention
99,1271448914676330496,1502485396982276097,@chm91364 How do you tell me you don’t underst...,50483003,Mention

In [115]:
tweetdata = tweetdata.append(pd.DataFrame(userTweets(50483003)))
tweetdata
#14

,author id,id,text,for,type
0,1417410192740962312,1518289397938012162,@rashadrobinson @itsgabrielleu Theirs so many ...,21456548,Mention
1,2590081050,1518239094110883849,@rashadrobinson @rolandsmartin Republicans lie...,21456548,Mention
2,1152741943723667457,1517915829760835584,@rashadrobinson @zellieimani https://t.co/bOlD...,21456548,Mention
3,1515578761823014913,1517902754038968320,@rashadrobinson https://t.co/0OnCgH37nz,21456548,Mention
4,1515578761823014913,1517899197608960001,@rashadrobinson GOD'S JUDGEMENT DAY IS COMING ...,21456548,Mention
...,...,...,...,...,...
95,50483003,1508931120569761806,RT @alixandra27: Forever listening &amp; learn...,50483003,User
96,50483003,1508866604754427918,"RT @DrIbram: As the ""Don't Say Gay"" bill in Fl...",50483003,User
97,50483003,1508834488201224201,"@JGunlock Julie, I/we, as a School, do not con...",50483003,User
98,50483003,1508776308410617857,Don't miss this......register and come this ev...,50483003,User
99,50483003,1508572364585549824,"RT @LiveOnTheChat: Sunny calls Will Smith ""imm...",50483003,User

In [116]:
tweetdata = tweetdata.append(pd.DataFrame(mentionTweets(536610418)))
tweetdata
#15

,author id,id,text,for,type
0,1417410192740962312,1518289397938012162,@rashadrobinson @itsgabrielleu Theirs so many ...,21456548,Mention
1,2590081050,1518239094110883849,@rashadrobinson @rolandsmartin Republicans lie...,21456548,Mention
2,1152741943723667457,1517915829760835584,@rashadrobinson @zellieimani https://t.co/bOlD...,21456548,Mention
3,1515578761823014913,1517902754038968320,@rashadrobinson https://t.co/0OnCgH37nz,21456548,Mention
4,1515578761823014913,1517899197608960001,@rashadrobinson GOD'S JUDGEMENT DAY IS COMING ...,21456548,Mention
...,...,...,...,...,...
95,54356934,1514302114633244677,Omg @doccrearperry THANK YOU for naming the “w...,536610418,Mention
96,17594077,1514301836076924932,@VP @SecBecerra @RepAdams @RepPressley @RepUnd...,536610418,Mention
97,19374709,1514300313637122050,@doccrearperry highlights the global impact of...,536610418,Mention
98,17594077,1514299777181417473,@VP @SecBecerra @RepAdams @RepPressley @RepUnd...,536610418,Mention
99,781982295863484456,1514299727143219202,“So many of the Bills you all have put forth a...,536610418,Mention

In [117]:
tweetdata = tweetdata.append(pd.DataFrame(userTweets(536610418)))
tweetdata
#15

,author id,id,text,for,type
0,1417410192740962312,1518289397938012162,@rashadrobinson @itsgabrielleu Theirs so many ...,21456548,Mention
1,2590081050,1518239094110883849,@rashadrobinson @rolandsmartin Republicans lie...,21456548,Mention
2,1152741943723667457,1517915829760835584,@rashadrobinson @zellieimani https://t.co/bOlD...,21456548,Mention
3,1515578761823014913,1517902754038968320,@rashadrobinson https://t.co/0OnCgH37nz,21456548,Mention
4,1515578761823014913,1517899197608960001,@rashadrobinson GOD'S JUDGEMENT DAY IS COMING ...,21456548,Mention
...,...,...,...,...,...
95,536610418,1514625679307988996,RT @doc_thoughts: Y'all really out here recrui...,536610418,User
96,536610418,1514625583422001154,@arielle_moyee @sjcbirthequity @BirthEquity 👊🏽...,536610418,User
97,536610418,1514625553134989312,RT @arielle_moyee: - “No one is free until eve...,536610418,User
98,536610418,1514552299074605066,@FamilyUbuntu Thank you for showing the world ...,536610418,User
99,536610418,1514552001601880067,RT @FamilyUbuntu: Tonight we claim liberation ...,536610418,User

In [118]:
tweetdata = tweetdata.append(pd.DataFrame(mentionTweets(738392410288447488)))
tweetdata
#16

,author id,id,text,for,type
0,1417410192740962312,1518289397938012162,@rashadrobinson @itsgabrielleu Theirs so many ...,21456548,Mention
1,2590081050,1518239094110883849,@rashadrobinson @rolandsmartin Republicans lie...,21456548,Mention
2,1152741943723667457,1517915829760835584,@rashadrobinson @zellieimani https://t.co/bOlD...,21456548,Mention
3,1515578761823014913,1517902754038968320,@rashadrobinson https://t.co/0OnCgH37nz,21456548,Mention
4,1515578761823014913,1517899197608960001,@rashadrobinson GOD'S JUDGEMENT DAY IS COMING ...,21456548,Mention
...,...,...,...,...,...
34,291849321,1494847758871764993,@DocMcStewson @LoisLeeMD @EFleegler @jen_hoffm...,738392410288447488,Mention
35,1177403969041305600,1494799982687559680,@DocMcStewson @LoisLeeMD @EFleegler @jen_hoffm...,738392410288447488,Mention
36,3161062869,1494798149797482500,"If 🫁 are your passion, then pedi pulm is right...",738392410288447488,Mention
37,998282414723125249,1491553519463243778,@TsengJennifer @MsmSurgery @The_BMC @MSMEDU @A...,738392410288447488,Mention
38,2328212438,1491553051014008832,@SMJohnsonMD @MsmSurgery @The_BMC @MSMEDU @AmB...,738392410288447488,Mention

In [119]:
tweetdata = tweetdata.append(pd.DataFrame(userTweets(738392410288447488)))
tweetdata
#16

,author id,id,text,for,type
0,1417410192740962312,1518289397938012162,@rashadrobinson @itsgabrielleu Theirs so many ...,21456548,Mention
1,2590081050,1518239094110883849,@rashadrobinson @rolandsmartin Republicans lie...,21456548,Mention
2,1152741943723667457,1517915829760835584,@rashadrobinson @zellieimani https://t.co/bOlD...,21456548,Mention
3,1515578761823014913,1517902754038968320,@rashadrobinson https://t.co/0OnCgH37nz,21456548,Mention
4,1515578761823014913,1517899197608960001,@rashadrobinson GOD'S JUDGEMENT DAY IS COMING ...,21456548,Mention
...,...,...,...,...,...
3,738392410288447488,1512171068269731842,@ShikhaJainMD And we wonder why ER’s are over ...,738392410288447488,User
4,738392410288447488,1512170115340587015,JUSTICE KETANJI BROWN JACKSON,738392410288447488,User
5,738392410288447488,1501243761036251141,Just finished a meeting with a fabulous group ...,738392410288447488,User
6,738392410288447488,1497548395350740992,So proud of @DrTiffJohnson! https://t.co/qvu7V...,738392410288447488,User
7,738392410288447488,1490438953215873033,Time for a new workout playlist! 🔥💪🏿🏋🏿‍♀️,738392410288447488,User

In [120]:
tweetdata = tweetdata.append(pd.DataFrame(mentionTweets(886539120436277253)))
tweetdata
#17

,author id,id,text,for,type
0,1417410192740962312,1518289397938012162,@rashadrobinson @itsgabrielleu Theirs so many ...,21456548,Mention
1,2590081050,1518239094110883849,@rashadrobinson @rolandsmartin Republicans lie...,21456548,Mention
2,1152741943723667457,1517915829760835584,@rashadrobinson @zellieimani https://t.co/bOlD...,21456548,Mention
3,1515578761823014913,1517902754038968320,@rashadrobinson https://t.co/0OnCgH37nz,21456548,Mention
4,1515578761823014913,1517899197608960001,@rashadrobinson GOD'S JUDGEMENT DAY IS COMING ...,21456548,Mention
...,...,...,...,...,...
95,1121117757339099136,1495790682077900800,"Attention, #Philadelphians! @harriettsbooks fo...",886539120436277253,Mention
96,2850324351,1495176283428253704,https://t.co/vfTNJvjla0\nCheck out the latest ...,886539120436277253,Mention
97,7940892,1494342144261124096,we told you we'd premiere with an all star cas...,886539120436277253,Mention
98,226593770,1493698668532273159,@harriettsbooks @jeannineacook WE LOVE U/Y’ALL...,886539120436277253,Mention
99,63731418,1493631633500647425,For BHM - We would like to spotlight @jeannine...,886539120436277253,Mention

In [121]:
tweetdata = tweetdata.append(pd.DataFrame(userTweets(886539120436277253)))
tweetdata
#17

,author id,id,text,for,type
0,1417410192740962312,1518289397938012162,@rashadrobinson @itsgabrielleu Theirs so many ...,21456548,Mention
1,2590081050,1518239094110883849,@rashadrobinson @rolandsmartin Republicans lie...,21456548,Mention
2,1152741943723667457,1517915829760835584,@rashadrobinson @zellieimani https://t.co/bOlD...,21456548,Mention
3,1515578761823014913,1517902754038968320,@rashadrobinson https://t.co/0OnCgH37nz,21456548,Mention
4,1515578761823014913,1517899197608960001,@rashadrobinson GOD'S JUDGEMENT DAY IS COMING ...,21456548,Mention
...,...,...,...,...,...
87,886539120436277253,1488494138655973383,RT @harriettsbooks: Nah. Almost 100 years late...,886539120436277253,User
88,886539120436277253,1488494126756769792,RT @harriettsbooks: So yeah:\n\nWe won’t be un...,886539120436277253,User
89,886539120436277253,1488494117315391492,RT @harriettsbooks: We won’t validate big bran...,886539120436277253,User
90,886539120436277253,1488494089108705287,RT @harriettsbooks: We won’t be available to h...,886539120436277253,User
91,886539120436277253,1488494077284859908,RT @harriettsbooks: liberation&gt;representati...,886539120436277253,User

In [122]:
tweetdata = tweetdata.append(pd.DataFrame(mentionTweets(482338695)))
tweetdata
#18

,author id,id,text,for,type
0,1417410192740962312,1518289397938012162,@rashadrobinson @itsgabrielleu Theirs so many ...,21456548,Mention
1,2590081050,1518239094110883849,@rashadrobinson @rolandsmartin Republicans lie...,21456548,Mention
2,1152741943723667457,1517915829760835584,@rashadrobinson @zellieimani https://t.co/bOlD...,21456548,Mention
3,1515578761823014913,1517902754038968320,@rashadrobinson https://t.co/0OnCgH37nz,21456548,Mention
4,1515578761823014913,1517899197608960001,@rashadrobinson GOD'S JUDGEMENT DAY IS COMING ...,21456548,Mention
...,...,...,...,...,...
95,3692096903,1511799453728088071,@VashtiHarrison Beautiful!! I’d love to watch ...,482338695,Mention
96,32259267,1511779919377977346,Washington Post Q&amp;A with Colin Kaepernick ...,482338695,Mention
97,1195398729299304449,1511746252903436288,More photos from our visit with @VashtiHarriso...,482338695,Mention
98,259583180,1511714359491366916,Did you love last night's episode of #AbbotEle...,482338695,Mention
99,221794396,1511490013325926401,@SarffAHLmedia @SkylarkBookshop @VashtiHarriso...,482338695,Mention

In [123]:
tweetdata = tweetdata.append(pd.DataFrame(userTweets(482338695)))
tweetdata
#18

,author id,id,text,for,type
0,1417410192740962312,1518289397938012162,@rashadrobinson @itsgabrielleu Theirs so many ...,21456548,Mention
1,2590081050,1518239094110883849,@rashadrobinson @rolandsmartin Republicans lie...,21456548,Mention
2,1152741943723667457,1517915829760835584,@rashadrobinson @zellieimani https://t.co/bOlD...,21456548,Mention
3,1515578761823014913,1517902754038968320,@rashadrobinson https://t.co/0OnCgH37nz,21456548,Mention
4,1515578761823014913,1517899197608960001,@rashadrobinson GOD'S JUDGEMENT DAY IS COMING ...,21456548,Mention
...,...,...,...,...,...
95,482338695,1498761265870966784,(Almost) all of the drawings i did for #28days...,482338695,User
96,482338695,1498724820892143619,RT @helloomabel: the lord hath risen to give u...,482338695,User
97,482338695,1498531370435588099,"My last 3: twist out, lemonade braids and bald...",482338695,User
98,482338695,1498531351808688130,Day 28: bald and beautiful #28daysofblackhairs...,482338695,User
99,482338695,1498451533557600257,Almost done! Here are 9 of the #28daysofblackh...,482338695,User

In [124]:
tweetdata = tweetdata.append(pd.DataFrame(mentionTweets(21228708)))
tweetdata
#19

,author id,id,text,for,type
0,1417410192740962312,1518289397938012162,@rashadrobinson @itsgabrielleu Theirs so many ...,21456548,Mention
1,2590081050,1518239094110883849,@rashadrobinson @rolandsmartin Republicans lie...,21456548,Mention
2,1152741943723667457,1517915829760835584,@rashadrobinson @zellieimani https://t.co/bOlD...,21456548,Mention
3,1515578761823014913,1517902754038968320,@rashadrobinson https://t.co/0OnCgH37nz,21456548,Mention
4,1515578761823014913,1517899197608960001,@rashadrobinson GOD'S JUDGEMENT DAY IS COMING ...,21456548,Mention
...,...,...,...,...,...
95,1147297563004899328,1516915484884561920,@TamronHallShow @tamronhall @BishopJakes @SJak...,21228708,Mention
96,17497090,1516902469271363584,Thursday on the @TamronHallShow: shining a lig...,21228708,Mention
97,3230797197,1516898308324663296,Ok why does @tamronhall have @BaltimorePolice ...,21228708,Mention
98,785125219543515137,1516879874555740160,c @tamronhall https://t.co/92OrKPo6Pf,21228708,Mention
99,785125219543515137,1516879772579598336,@tamronhall https://t.co/6TlpuS2u8D,21228708,Mention

In [125]:
tweetdata = tweetdata.append(pd.DataFrame(userTweets(21228708)))
tweetdata
#19

,author id,id,text,for,type
0,1417410192740962312,1518289397938012162,@rashadrobinson @itsgabrielleu Theirs so many ...,21456548,Mention
1,2590081050,1518239094110883849,@rashadrobinson @rolandsmartin Republicans lie...,21456548,Mention
2,1152741943723667457,1517915829760835584,@rashadrobinson @zellieimani https://t.co/bOlD...,21456548,Mention
3,1515578761823014913,1517902754038968320,@rashadrobinson https://t.co/0OnCgH37nz,21456548,Mention
4,1515578761823014913,1517899197608960001,@rashadrobinson GOD'S JUDGEMENT DAY IS COMING ...,21456548,Mention
...,...,...,...,...,...
95,21228708,1493621512569597954,RT @thart_0023: Thank you @tamronhall for givi...,21228708,User
96,21228708,1493621394034282503,RT @KatPalmBeach: @tamronhall \nTears in my ey...,21228708,User
97,21228708,1493594590682693637,Zoom in 🤣I think I hit the step right. Thank y...,21228708,User
98,21228708,1493565298875994113,🙌🏾🙌🏾🙌🏾🙌🏾 New Edition!!!! https://t.co/5eWftVI9wu,21228708,User
99,21228708,1493565027118456843,RT @OnTheRedCarpet: On Tuesday: @Tamronhall’s ...,21228708,User

In [126]:
tweetdata = tweetdata.append(pd.DataFrame(mentionTweets(243690703)))
tweetdata
#20

,author id,id,text,for,type
0,1417410192740962312,1518289397938012162,@rashadrobinson @itsgabrielleu Theirs so many ...,21456548,Mention
1,2590081050,1518239094110883849,@rashadrobinson @rolandsmartin Republicans lie...,21456548,Mention
2,1152741943723667457,1517915829760835584,@rashadrobinson @zellieimani https://t.co/bOlD...,21456548,Mention
3,1515578761823014913,1517902754038968320,@rashadrobinson https://t.co/0OnCgH37nz,21456548,Mention
4,1515578761823014913,1517899197608960001,@rashadrobinson GOD'S JUDGEMENT DAY IS COMING ...,21456548,Mention
...,...,...,...,...,...
95,80366372,1510603043737411591,Will Smith's slap shows he's not perfect. No o...,243690703,Mention
96,1336988466173906944,1510599951323119625,@SantitaJ @Toure @drgeorgecfraser @YouTube @iH...,243690703,Mention
97,21063394,1510597393196060676,@RevJJackson @Toure @drgeorgecfraser @YouTube ...,243690703,Mention
98,80366372,1510596922268176392,Will Smith's Upcoming Film 'Fast and Loose' St...,243690703,Mention
99,1233525124164272128,1510595431390015488,@RevJJackson @iHeartRadio @YouTube @SantitaJ @...,243690703,Mention

In [127]:
tweetdata = tweetdata.append(pd.DataFrame(userTweets(243690703)))
tweetdata
#20

,author id,id,text,for,type
0,1417410192740962312,1518289397938012162,@rashadrobinson @itsgabrielleu Theirs so many ...,21456548,Mention
1,2590081050,1518239094110883849,@rashadrobinson @rolandsmartin Republicans lie...,21456548,Mention
2,1152741943723667457,1517915829760835584,@rashadrobinson @zellieimani https://t.co/bOlD...,21456548,Mention
3,1515578761823014913,1517902754038968320,@rashadrobinson https://t.co/0OnCgH37nz,21456548,Mention
4,1515578761823014913,1517899197608960001,@rashadrobinson GOD'S JUDGEMENT DAY IS COMING ...,21456548,Mention
...,...,...,...,...,...
95,243690703,1509485808541069316,"THE SANTITA JACKSON SHOW | Thursday, March 31,...",243690703,User
96,243690703,1509485727402401801,‘No progress’ since George Floyd: US police ki...,243690703,User
97,243690703,1509178781818368009,RT @RickAdams14: @BWMNet @EleanorNorton @Dream...,243690703,User
98,243690703,1509178667603218440,RT @barbs73: @AshleyMLee110 @SantitaJ @NNPA_Bl...,243690703,User
99,243690703,1509138438590812167,Supreme Court observers see trouble ahead as p...,243690703,User

In [ ]:
data1 = combineData['Subjectivity'].loc[combineData['for'] == '21456548']
data2 = combineData['Subjectivity'].loc[combineData['for'] == '36733261']
data3 = combineData['Subjectivity'].loc[combineData['for'] == '16976061']
data4 = combineData['Subjectivity'].loc[combineData['for'] == '3160201248']
data5 = combineData['Subjectivity'].loc[combineData['for'] == '18137417']
data6 = combineData['Subjectivity'].loc[combineData['for'] == '46571486']
data7 = combineData['Subjectivity'].loc[combineData['for'] == '915726438']
data8 = combineData['Subjectivity'].loc[combineData['for'] == '27792033']
data9 = combineData['Subjectivity'].loc[combineData['for'] == '16028034']
data10 = combineData['Subjectivity'].loc[combineData['for'] == '344955115']
data11 = combineData['Subjectivity'].loc[combineData['for'] == '2825591395']
data12 = combineData['Subjectivity'].loc[combineData['for'] == '3196664426']
data13 = combineData['Subjectivity'].loc[combineData['for'] == '1033134218904256513']
data14 = combineData['Subjectivity'].loc[combineData['for'] == '50483003']
data15 = combineData['Subjectivity'].loc[combineData['for'] == '536610418']
data16 = combineData['Subjectivity'].loc[combineData['for'] == '738392410288447488']
data17 = combineData['Subjectivity'].loc[combineData['for'] == '886539120436277253']
data18 = combineData['Subjectivity'].loc[combineData['for'] == '482338695']
data19 = combineData['Subjectivity'].loc[combineData['for'] == '21228708']
data20 = combineData['Subjectivity'].loc[combineData['for'] == '243690703']


data21 = combineData['Polarity'].loc[combineData['for'] == '21456548']
data22 = combineData['Polarity'].loc[combineData['for'] == '36733261']
data23 = combineData['Polarity'].loc[combineData['for'] == '16976061']
data24 = combineData['Polarity'].loc[combineData['for'] == '3160201248']
data25 = combineData['Polarity'].loc[combineData['for'] == '18137417']
data26 = combineData['Polarity'].loc[combineData['for'] == '46571486']
data27 = combineData['Polarity'].loc[combineData['for'] == '915726438']
data28 = combineData['Polarity'].loc[combineData['for'] == '27792033']
data29 = combineData['Polarity'].loc[combineData['for'] == '16028034']
data30 = combineData['Polarity'].loc[combineData['for'] == '344955115']
data31 = combineData['Polarity'].loc[combineData['for'] == '2825591395']
data32 = combineData['Polarity'].loc[combineData['for'] == '3196664426']
data33 = combineData['Polarity'].loc[combineData['for'] == '1033134218904256513']
data34 = combineData['Polarity'].loc[combineData['for'] == '50483003']
data35 = combineData['Polarity'].loc[combineData['for'] == '536610418']
data36 = combineData['Polarity'].loc[combineData['for'] == '738392410288447488']
data37 = combineData['Polarity'].loc[combineData['for'] == '886539120436277253']
data38 = combineData['Polarity'].loc[combineData['for'] == '482338695']
data39 = combineData['Polarity'].loc[combineData['for'] == '21228708']
data40 = combineData['Polarity'].loc[combineData['for'] == '243690703']

df1 = pd.DataFrame(combineData, 
                  columns= ['Subjectivity', 'Polarity', 'for'],
                  index = np.arange(0, 60, 10)
                 )
fig = plt.figure()
ax1 = fig.add_subplot(111)
ax1.scatter(data21, data1,  c='C1', marker="o", label='rashadrobinson')
ax1.scatter(data22, data2,  c='C2', marker="o", label='bencrump')
ax1.scatter(data23, data3,  c='C3', marker="o", label='4NIKKOLAS')
ax1.scatter(data24, data4,  c='C4', marker="o", label='profjohnapowell')
ax1.scatter(data25, data5,  c='C5', marker="o", label='hakeemjefferson')
ax1.scatter(data26, data6,  c='C6', marker="o", label='MalcolmJamalWar')
ax1.scatter(data27, data7,  c='C7', marker="o", label='larrywilmore')
ax1.scatter(data28, data8,  c='C8', marker="o", label='Travon')
ax1.scatter(data29, data9,  c='C9', marker="o", label='rodimusprime')
ax1.scatter(data30, data10,  c='C10', marker="o", label='TheLewisBlack')
ax1.scatter(data31, data11,  c='C11', marker="o", label='KeishaBlain')
ax1.scatter(data32, data12,  c='C12', marker="o", label='nenagerman')
ax1.scatter(data33, data13,  c='C13', marker="o", label='SonjaCherryPaul')
ax1.scatter(data34, data14,  c='C14', marker="o", label='chm91364')
ax1.scatter(data35, data15,  c='C15', marker="o", label='doccrearperry')
ax1.scatter(data36, data16,  c='C16', marker="o", label='TheRealDrKendi')
ax1.scatter(data37, data17,  c='C17', marker="o", label='jeannineacook')
ax1.scatter(data38, data18,  c='C18', marker="o", label='VashtiHarrison')
ax1.scatter(data39, data19,  c='C19', marker="o", label='tamronhall')
ax1.scatter(data40, data20,  c='C20', marker="o", label='SantitaJ')

plt.legend(loc='upper left');
plt.xlabel('Subjectivity')
plt.ylabel('Polarity')
plt.title('Subjectivity X Polarity')
plt.show()