In [11]:
pip install textblob

Requirement already satisfied: textblob in c:\users\eyang\anaconda3\lib\site-packages (0.15.3)
Requirement already satisfied: nltk>=3.1 in c:\users\eyang\anaconda3\lib\site-packages (from textblob) (3.6.5)
Requirement already satisfied: click in c:\users\eyang\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (8.0.3)
Requirement already satisfied: joblib in c:\users\eyang\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (1.1.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\eyang\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (2021.8.3)
Requirement already satisfied: tqdm in c:\users\eyang\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (4.62.3)
Requirement already satisfied: colorama in c:\users\eyang\anaconda3\lib\site-packages (from click->nltk>=3.1->textblob) (0.4.4)
Note: you may need to restart the kernel to use updated packages.

In [12]:
import pandas as pd
import numpy as np
import tweepy as tw
import time
from textblob import TextBlob

In [13]:
# Eric's token info
def getClient():
    client = tw.Client(bearer_token='AAAAAAAAAAAAAAAAAAAAAJgTZwEAAAAAFVLr%2F%2FClRF6djF%2Ft7s5yswscGN8%3DDRcPCVEXPcYx6zmrNscHjB1uEwOYdN9dwcZc00aZbh8D3TNPL0', 
                       consumer_key='697t3SlCIA8EQqhuUXt6hvdR2', 
                       consumer_secret='vvx7jQTsQx0DsdqywLCbNXy7fVGfZ0pHIsHV7ABAn9B38GYeWA', 
                       access_token='4552843577-Fz1dti9bkAEtMUnKJN8uq9rs9DC22L8J0k3eA2M', 
                       access_token_secret='UhoqlCSKwv269iEX3IhjsxUE4huNaTKMWSniIUwEWYd8l')
    return client

In [14]:
def getUserID(user):
    client = getClient()
    x = client.get_user(username= user)
    x
    return x
#return type dict
#getting user id from the twitter handle

In [84]:
def mentionTweets(userId):
    client = getClient()
    tweetMentions = client.get_users_mentions(id = userId, start_time='2022-02-01T00:00:00.000Z' , end_time='2022-04-25T00:00:00.000Z',max_results = 100, expansions = 'author_id')
    tweetMentionData = tweetMentions.data
    resultsMentions = []
    if not tweetMentionData is None and len(tweetMentionData) > 0:
        for tweet in tweetMentionData:
            #tweetAID = client.statuses_lookup(id = tweet.id)  trying to find a away to get author id from a mention
            obj = {}
            obj['author id'] = tweet.author_id
            obj['id'] = tweet.id
            obj['text'] = tweet.text
            obj['for'] = userId
            obj['type'] = "Mention"
            resultsMentions.append(obj)
    else:
        return []
    return resultsMentions
# I'm not sure why but it returns none for author id

In [87]:
def userTweets(userId):
    client = getClient()
    userTweet = client.get_users_tweets(id = userId, start_time='2022-02-01T00:00:00.000Z' , end_time='2022-04-25T00:00:00.000Z',max_results = 100,expansions = 'author_id')
    tweetuserData = userTweet.data
    resultsTweets = []
    if not tweetuserData is None and len(tweetuserData) > 0:
        for tweet in tweetuserData:
            obj = {}
            obj['author id'] = tweet.author_id
            obj['id'] = tweet.id
            obj['text'] = tweet.text
            obj['for'] =  userId
            obj['type'] = "User"
            resultsTweets.append(obj)
    return resultsTweets

#FYI this alos looks at retweets

In [17]:
# please look at https://docs.tweepy.org/en/stable/client.html#search-tweets
# and https://www.youtube.com/watch?v=GqzbvoAsSrg&ab_channel=SkoloOnline
# these helped me make this ~Eric

In [82]:
z = getUserID('SantitaJ')
z

Response(data=<User id=243690703 name=Santita Jackson username=SantitaJ>, includes={}, errors=[], meta={})

In [88]:
tweetdata = pd.DataFrame(mentionTweets(21456548))
tweetdata
#1

,author id,id,text,for,type
0,1417410192740962312,1518289397938012162,@rashadrobinson @itsgabrielleu Theirs so many ...,21456548,Mention
1,2590081050,1518239094110883849,@rashadrobinson @rolandsmartin Republicans lie...,21456548,Mention
2,1152741943723667457,1517915829760835584,@rashadrobinson @zellieimani https://t.co/bOlD...,21456548,Mention
3,1515578761823014913,1517902754038968320,@rashadrobinson https://t.co/0OnCgH37nz,21456548,Mention
4,1515578761823014913,1517899197608960001,@rashadrobinson GOD'S JUDGEMENT DAY IS COMING ...,21456548,Mention
...,...,...,...,...,...
95,18522327,1514752794409975824,RT @ColorOfChange: Join COC's @rashadrobinson ...,21456548,Mention
96,18522327,1514752792304435200,RT @JenniOlsonSF: Next week! Plus @rashadrobin...,21456548,Mention
97,130641935,1514720679152664576,"Next week! Plus @rashadrobinson, @mariaressa, ...",21456548,Mention
98,16795628,1514640592738951169,#RT @ColorOfChange: Join COC's @rashadrobinson...,21456548,Mention
99,27793335,1514626288966852620,Join COC's @rashadrobinson for @elcinfo's 2022...,21456548,Mention

In [89]:
tweetdata = tweetdata.append(pd.DataFrame(userTweets(21456548)))
tweetdata
#1

,author id,id,text,for,type
0,1417410192740962312,1518289397938012162,@rashadrobinson @itsgabrielleu Theirs so many ...,21456548,Mention
1,2590081050,1518239094110883849,@rashadrobinson @rolandsmartin Republicans lie...,21456548,Mention
2,1152741943723667457,1517915829760835584,@rashadrobinson @zellieimani https://t.co/bOlD...,21456548,Mention
3,1515578761823014913,1517902754038968320,@rashadrobinson https://t.co/0OnCgH37nz,21456548,Mention
4,1515578761823014913,1517899197608960001,@rashadrobinson GOD'S JUDGEMENT DAY IS COMING ...,21456548,Mention
...,...,...,...,...,...
95,21456548,1509229287127326725,"RT @ColorOfChange: In 2018, Facebook hired a f...",21456548,User
96,21456548,1509198297759682576,RT @RepYvetteClarke: Thank you @rashadrobinson...,21456548,User
97,21456548,1509198233192611845,RT @RSAConference: The #RSAC 2022 closing keyn...,21456548,User
98,21456548,1509176208935854083,"RT @RevDrBarber: We’ll be back in Washington, ...",21456548,User
99,21456548,1508964173266534401,Our work to protect Black people continues; wh...,21456548,User

In [90]:
tweetdata = tweetdata.append(pd.DataFrame(mentionTweets(36733261)))
tweetdata
#2

,author id,id,text,for,type
0,1417410192740962312,1518289397938012162,@rashadrobinson @itsgabrielleu Theirs so many ...,21456548,Mention
1,2590081050,1518239094110883849,@rashadrobinson @rolandsmartin Republicans lie...,21456548,Mention
2,1152741943723667457,1517915829760835584,@rashadrobinson @zellieimani https://t.co/bOlD...,21456548,Mention
3,1515578761823014913,1517902754038968320,@rashadrobinson https://t.co/0OnCgH37nz,21456548,Mention
4,1515578761823014913,1517899197608960001,@rashadrobinson GOD'S JUDGEMENT DAY IS COMING ...,21456548,Mention
...,...,...,...,...,...
58,2951397565,1488727937012559875,@noirdosser @DSmoke7 @majornija @majestichippi...,36733261,Mention
59,96309737,1488727659765018624,@noirdosser @dstrut3000 @DSmoke7 @majornija @m...,36733261,Mention
60,1171231119364112384,1488727121404907522,@majornija @dstrut3000 @DSmoke7 @majestichippi...,36733261,Mention
61,1219466357047209984,1488727011216572419,@noirdosser @dstrut3000 @DSmoke7 @majestichipp...,36733261,Mention
62,1171231119364112384,1488726742743207939,.@dstrut3000 @DSmoke7 @majornija @majestichipp...,36733261,Mention

In [91]:
tweetdata = tweetdata.append(pd.DataFrame(userTweets(36733261)))
tweetdata
#2

,author id,id,text,for,type
0,1417410192740962312,1518289397938012162,@rashadrobinson @itsgabrielleu Theirs so many ...,21456548,Mention
1,2590081050,1518239094110883849,@rashadrobinson @rolandsmartin Republicans lie...,21456548,Mention
2,1152741943723667457,1517915829760835584,@rashadrobinson @zellieimani https://t.co/bOlD...,21456548,Mention
3,1515578761823014913,1517902754038968320,@rashadrobinson https://t.co/0OnCgH37nz,21456548,Mention
4,1515578761823014913,1517899197608960001,@rashadrobinson GOD'S JUDGEMENT DAY IS COMING ...,21456548,Mention
...,...,...,...,...,...
58,2951397565,1488727937012559875,@noirdosser @DSmoke7 @majornija @majestichippi...,36733261,Mention
59,96309737,1488727659765018624,@noirdosser @dstrut3000 @DSmoke7 @majornija @m...,36733261,Mention
60,1171231119364112384,1488727121404907522,@majornija @dstrut3000 @DSmoke7 @majestichippi...,36733261,Mention
61,1219466357047209984,1488727011216572419,@noirdosser @dstrut3000 @DSmoke7 @majestichipp...,36733261,Mention
62,1171231119364112384,1488726742743207939,.@dstrut3000 @DSmoke7 @majornija @majestichipp...,36733261,Mention

In [92]:
tweetdata = tweetdata.append(pd.DataFrame(mentionTweets(16976061)))
tweetdata
#3

,author id,id,text,for,type
0,1417410192740962312,1518289397938012162,@rashadrobinson @itsgabrielleu Theirs so many ...,21456548,Mention
1,2590081050,1518239094110883849,@rashadrobinson @rolandsmartin Republicans lie...,21456548,Mention
2,1152741943723667457,1517915829760835584,@rashadrobinson @zellieimani https://t.co/bOlD...,21456548,Mention
3,1515578761823014913,1517902754038968320,@rashadrobinson https://t.co/0OnCgH37nz,21456548,Mention
4,1515578761823014913,1517899197608960001,@rashadrobinson GOD'S JUDGEMENT DAY IS COMING ...,21456548,Mention
...,...,...,...,...,...
95,1104069426415001601,1512497255206379521,@4NIKKOLAS @ananavarro Scary,16976061,Mention
96,1423509083114639360,1512497040495984640,@4NIKKOLAS Thank you for wonderful share,16976061,Mention
97,326545657,1512495659236085763,@reneewauthor @LindaSuePark @nhannahjones @rob...,16976061,Mention
98,25379461,1512495179537661956,@4NIKKOLAS A Black woman will now serve on the...,16976061,Mention
99,912836471278702598,1512494247538270216,"@4NIKKOLAS @ananavarro Oh, and why not?",16976061,Mention

In [93]:
tweetdata = tweetdata.append(pd.DataFrame(userTweets(16976061)))
tweetdata
#3

,author id,id,text,for,type
0,1417410192740962312,1518289397938012162,@rashadrobinson @itsgabrielleu Theirs so many ...,21456548,Mention
1,2590081050,1518239094110883849,@rashadrobinson @rolandsmartin Republicans lie...,21456548,Mention
2,1152741943723667457,1517915829760835584,@rashadrobinson @zellieimani https://t.co/bOlD...,21456548,Mention
3,1515578761823014913,1517902754038968320,@rashadrobinson https://t.co/0OnCgH37nz,21456548,Mention
4,1515578761823014913,1517899197608960001,@rashadrobinson GOD'S JUDGEMENT DAY IS COMING ...,21456548,Mention
...,...,...,...,...,...
95,16976061,1496600572472049671,@ElPolloLoco @BrandedArts 🙏🏾likewise! more Ket...,16976061,User
96,16976061,1496600257639108608,RT @nycjim: “I’m gonna keep making books that ...,16976061,User
97,16976061,1496600105339834372,@nycjim 👊🏾🌊✨ thank you thank you,16976061,User
98,16976061,1496546573756604419,Special thanks to @BrandedArts Josh Everhorn a...,16976061,User
99,16976061,1496546568765423620,For this #BlackHistoryMonth I had the pleasure...,16976061,User

In [94]:
tweetdata = tweetdata.append(pd.DataFrame(mentionTweets(3160201248)))
tweetdata
#4

,author id,id,text,for,type
0,1417410192740962312,1518289397938012162,@rashadrobinson @itsgabrielleu Theirs so many ...,21456548,Mention
1,2590081050,1518239094110883849,@rashadrobinson @rolandsmartin Republicans lie...,21456548,Mention
2,1152741943723667457,1517915829760835584,@rashadrobinson @zellieimani https://t.co/bOlD...,21456548,Mention
3,1515578761823014913,1517902754038968320,@rashadrobinson https://t.co/0OnCgH37nz,21456548,Mention
4,1515578761823014913,1517899197608960001,@rashadrobinson GOD'S JUDGEMENT DAY IS COMING ...,21456548,Mention
...,...,...,...,...,...
95,3775651,1495960039441727489,Wait. @profjohnapowell AND Judith Butler? Talk...,3160201248,Mention
96,1544175998,1495956793339621376,Have you ever taken the risk to bridge across ...,3160201248,Mention
97,285875744,1495890449378258944,Thank you for this today @oandbinstitute @prof...,3160201248,Mention
98,367452524,1495864655088074760,"""...true equality cannot be left to the whims ...",3160201248,Mention
99,290718449,1495799154345652224,"""The goal of education is not comfort."" @profj...",3160201248,Mention

In [95]:
tweetdata = tweetdata.append(pd.DataFrame(userTweets(3160201248)))
tweetdata
#4

,author id,id,text,for,type
0,1417410192740962312,1518289397938012162,@rashadrobinson @itsgabrielleu Theirs so many ...,21456548,Mention
1,2590081050,1518239094110883849,@rashadrobinson @rolandsmartin Republicans lie...,21456548,Mention
2,1152741943723667457,1517915829760835584,@rashadrobinson @zellieimani https://t.co/bOlD...,21456548,Mention
3,1515578761823014913,1517902754038968320,@rashadrobinson https://t.co/0OnCgH37nz,21456548,Mention
4,1515578761823014913,1517899197608960001,@rashadrobinson GOD'S JUDGEMENT DAY IS COMING ...,21456548,Mention
...,...,...,...,...,...
94,3160201248,1499579175262248962,RT @GeorgeSwain: We're often hard on individua...,3160201248,User
95,3160201248,1499579131230445569,"RT @ShannaPeeples: ""The goal of education is n...",3160201248,User
96,3160201248,1499579099479642113,RT @SheryllCashin: 🙏🏾 This was a great conver...,3160201248,User
97,3160201248,1499579085520916482,RT @oandbinstitute: Join @BerkeleyAfroAm &amp;...,3160201248,User
98,3160201248,1499579058819977218,RT @triciabrand: The first @Twitter Spaces I’v...,3160201248,User

In [96]:
tweetdata = tweetdata.append(pd.DataFrame(mentionTweets(18137417)))
tweetdata
#5

,author id,id,text,for,type
0,1417410192740962312,1518289397938012162,@rashadrobinson @itsgabrielleu Theirs so many ...,21456548,Mention
1,2590081050,1518239094110883849,@rashadrobinson @rolandsmartin Republicans lie...,21456548,Mention
2,1152741943723667457,1517915829760835584,@rashadrobinson @zellieimani https://t.co/bOlD...,21456548,Mention
3,1515578761823014913,1517902754038968320,@rashadrobinson https://t.co/0OnCgH37nz,21456548,Mention
4,1515578761823014913,1517899197608960001,@rashadrobinson GOD'S JUDGEMENT DAY IS COMING ...,21456548,Mention
...,...,...,...,...,...
95,48925204,1511403796307628040,@hakeemjefferson ... accusations running rampa...,18137417,Mention
96,48925204,1511403357621174274,@hakeemjefferson Yes. there are other aspects ...,18137417,Mention
97,1163723022,1511373965511507972,@hakeemjefferson @prof_mirya I don’t see a sin...,18137417,Mention
98,15185020,1511366364417646599,@hakeemjefferson Thanks for sharing Hakeem. An...,18137417,Mention
99,313680714,1511329325605396480,@hakeemjefferson @RussellSageFdn @FabianNeuner...,18137417,Mention

In [97]:
tweetdata = tweetdata.append(pd.DataFrame(userTweets(18137417)))
tweetdata
#5

,author id,id,text,for,type
0,1417410192740962312,1518289397938012162,@rashadrobinson @itsgabrielleu Theirs so many ...,21456548,Mention
1,2590081050,1518239094110883849,@rashadrobinson @rolandsmartin Republicans lie...,21456548,Mention
2,1152741943723667457,1517915829760835584,@rashadrobinson @zellieimani https://t.co/bOlD...,21456548,Mention
3,1515578761823014913,1517902754038968320,@rashadrobinson https://t.co/0OnCgH37nz,21456548,Mention
4,1515578761823014913,1517899197608960001,@rashadrobinson GOD'S JUDGEMENT DAY IS COMING ...,21456548,Mention
...,...,...,...,...,...
95,18137417,1508474245835153414,@MairaHayat @saadgulzar @zakirbpd We will cont...,18137417,User
96,18137417,1508472493845098499,Credit to chefs @saadgulzar and @zakirbpd. I j...,18137417,User
97,18137417,1508471345922777091,"I know you were wondering, so popping in to sa...",18137417,User
98,18137417,1508418247665758212,Hope this at least falls in the camp of cooler...,18137417,User
99,18137417,1508416305497403395,@ChrisPolPsych I really didn’t wanna engage bu...,18137417,User

In [98]:
tweetdata = tweetdata.append(pd.DataFrame(mentionTweets(46571486)))
tweetdata
#6

,author id,id,text,for,type
0,1417410192740962312,1518289397938012162,@rashadrobinson @itsgabrielleu Theirs so many ...,21456548,Mention
1,2590081050,1518239094110883849,@rashadrobinson @rolandsmartin Republicans lie...,21456548,Mention
2,1152741943723667457,1517915829760835584,@rashadrobinson @zellieimani https://t.co/bOlD...,21456548,Mention
3,1515578761823014913,1517902754038968320,@rashadrobinson https://t.co/0OnCgH37nz,21456548,Mention
4,1515578761823014913,1517899197608960001,@rashadrobinson GOD'S JUDGEMENT DAY IS COMING ...,21456548,Mention
...,...,...,...,...,...
95,107436446,1515342517365002260,…thank you @MalcolmJamalWar for your kindness.,46571486,Mention
96,45585297,1515315029205205000,An AWESOME poem by ⁦@MalcolmJamalWar⁩ #DrFrase...,46571486,Mention
97,98472374,1515245886351286272,"Just finished #SneakyPete. It was magnificent,...",46571486,Mention
98,167196176,1515242483357159425,@MalcolmJamalWar ♥️♥️ Thank YOU for being a pa...,46571486,Mention
99,234664154,1515224621892595713,@YNB @CommunityTV @MalcolmJamalWar I’ll never ...,46571486,Mention

In [ ]:
tweetdata = tweetdata.append(pd.DataFrame(userTweets(46571486)))
tweetdata
#6

In [ ]:
tweetdata = tweetdata.append(pd.DataFrame(mentionTweets(915726438)))
tweetdata
#7

In [ ]:
tweetdata = tweetdata.append(pd.DataFrame(userTweets(915726438)))
tweetdata
#7

In [ ]:
tweetdata = tweetdata.append(pd.DataFrame(mentionTweets(27792033)))
tweetdata
#8

In [ ]:
tweetdata = tweetdata.append(pd.DataFrame(userTweets(27792033)))
tweetdata
#8

In [ ]:
tweetdata = tweetdata.append(pd.DataFrame(mentionTweets(16028034)))
tweetdata
#9

In [ ]:
tweetdata = tweetdata.append(pd.DataFrame(userTweets(16028034)))
tweetdata
#9

In [ ]:
tweetdata = tweetdata.append(pd.DataFrame(mentionTweets(344955115)))
tweetdata
#10

In [ ]:
tweetdata = tweetdata.append(pd.DataFrame(userTweets(344955115)))
tweetdata
#10

In [ ]:
tweetdata = tweetdata.append(pd.DataFrame(mentionTweets(2825591395)))
tweetdata
#11

In [ ]:
tweetdata = tweetdata.append(pd.DataFrame(userTweets(2825591395)))
tweetdata
#11

In [ ]:
tweetdata = tweetdata.append(pd.DataFrame(mentionTweets(3196664426)))
tweetdata
#12

In [ ]:
tweetdata = tweetdata.append(pd.DataFrame(userTweets(3196664426)))
tweetdata
#12

In [ ]:
tweetdata = tweetdata.append(pd.DataFrame(mentionTweets(1033134218904256513)))
tweetdata
#13

In [ ]:
tweetdata = tweetdata.append(pd.DataFrame(userTweets(1033134218904256513)))
tweetdata
#13

In [ ]:
tweetdata = tweetdata.append(pd.DataFrame(mentionTweets(50483003)))
tweetdata
#14

In [ ]:
tweetdata = tweetdata.append(pd.DataFrame(userTweets(50483003)))
tweetdata
#14

In [ ]:
tweetdata = tweetdata.append(pd.DataFrame(mentionTweets(536610418)))
tweetdata
#15

In [ ]:
tweetdata = tweetdata.append(pd.DataFrame(userTweets(536610418)))
tweetdata
#15

In [ ]:
tweetdata = tweetdata.append(pd.DataFrame(mentionTweets(738392410288447488)))
tweetdata
#16

In [ ]:
tweetdata = tweetdata.append(pd.DataFrame(userTweets(738392410288447488)))
tweetdata
#16

In [ ]:
tweetdata = tweetdata.append(pd.DataFrame(mentionTweets(886539120436277253)))
tweetdata
#17

In [ ]:
tweetdata = tweetdata.append(pd.DataFrame(userTweets(886539120436277253)))
tweetdata
#17

In [ ]:
tweetdata = tweetdata.append(pd.DataFrame(mentionTweets(482338695)))
tweetdata
#18

In [ ]:
tweetdata = tweetdata.append(pd.DataFrame(userTweets(482338695)))
tweetdata
#18

In [ ]:
tweetdata = tweetdata.append(pd.DataFrame(mentionTweets(21228708)))
tweetdata
#19

In [ ]:
tweetdata = tweetdata.append(pd.DataFrame(userTweets(21228708)))
tweetdata
#19

In [ ]:
tweetdata = tweetdata.append(pd.DataFrame(mentionTweets(243690703)))
tweetdata
#20

In [ ]:
tweetdata = tweetdata.append(pd.DataFrame(userTweets(243690703)))
tweetdata
#20